<nav class="navbar navbar-expand-lg bg-light ">
  <div class="container-fluid">
    <a class="navbar-brand nav-link active" href="/"><img src="/img/1643600414_1-papik-pro-p-logotip-apteki-1.png" alt="logo" width="65" height="70">   Social pharmacy</a>
     <link rel="stylesheet" href="calendar99.css">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    </a>
    <div class="collapse navbar-collapse"  id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Main Page</a>
        <li class="nav-item">
          <a class="nav-link" href="../product">Product</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/calendar">calendar</a>
        </li>
        {{#unless userId}}
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        {{/unless}}

        {{#if userId}}
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

