<form name="formEditProduct" id={{id}}>
  <div class='card' style='width: 18rem;'>
    <h2>{{name}}</h2>
          <div class='card-body'>
            <input name='img' type='text' placeholder='IMG' />
            <input name='name'class='card-title' placeholder="Название"></input>
            <input name='describe'class='card-text' placeholder="Описание"></input>
            <input name='price'class='card-text' placeholder="Цена"></input>
            <input name='discount'style="display: inline;" class='card-text discount-price' placeholder="Цена со скидкой"></input>
            <button type="submit" class='btn btn-primary'>Сохранить изменения</button>
</form>
<script src="/js/productRouteFront.js"></script>
