body {
	background-color: blanchedalmond;
}
.done{
	text-decoration: line-through;
}
h1 {
	color: rgb(185, 185, 246);
	font-family: fantasy;
}
.delete-button {
	background-color: red;
	border-radius: 30%;
}
.change-button {
	background-color: rgb(185, 185, 246);
	border-radius: 10%;
}
.change-button:hover{
	background-color: rgb(202, 239, 238);
}
.delete-button:hover{
	background-color: rgb(242, 42, 42);
	color: white;
}
.edit-button{
	background-color: rgb(250, 193, 245);
	border-radius: 10%;
	margin: 3px;
}
.edit-button:hover{
	background-color: white;
}
.add-button{
	background-color: greenyellow;
	border-radius: 10%;
}
.add-button:hover{
	background-color: yellow;
}

/* .card-body .discount-price {
  width: 3rem;
  display: inline;
} */
